@*@using Identity*@
@model SecurityEssentials.Model.ManageUser

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="toriga-item">
        <header><div class="title"> Change Password Form   ( You're logged in as <strong>@User.Identity.Name</strong> )</div> </header>
        <div class="toriga-item-body">
            <div class="input-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "input-group-addon" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
            <div class="input-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "input-group-addon" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
            <div class="input-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "input-group-addon" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="buttons">
                <input type="submit" value="Change password" class="button" />
            </div>
        </div>
    </div>    
}
