@using SecurityEssentials.ViewModel;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
    ViewBag.Active = "Admin";
}
@model SecurityEssentials.ViewModel.ChangePasswordViewModel

    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="row">
            <div class="col-md-12">
                <h2>Change Password Form</h2>
            </div>
        </div>

        if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
        {
            <div class="alert alert-info">@ViewBag.StatusMessage</div>
        }
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                You're logged in as <strong>@User.Identity.Name</strong><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", autocomplete = "off" })</div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", autocomplete = "off" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        if (Model.HasRecaptcha)
        {
            <div class="row">
                <div class="col-md-4">Enter the figures you see in the box shown</div>
                <div class="col-md-4 col-md-offset-4">
                    @Html.Partial("_Recaptcha");
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-2 col-md-offset-10"><input type="submit" value="Change password" class="btn btn-primary" /></div>
        </div>
    }

