@model SecurityEssentials.ViewModel.RecoverViewModel
@{
    ViewBag.Title = "Recover Password";
    ViewBag.Active = "Home";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div>
            <div class="row">
                <div class="col-md-12"><h2>Recover your password</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12">@Html.ValidationSummary(true)</div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">Enter your Email address and captcha code to recover your password</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(m => m.UserName)</div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autocomplete = "off" })</div>
                    <div class="col-md-4">@Html.ValidationMessageFor(m => m.UserName)</div>
                </div>
                @if (Model.HasRecaptcha) {
                <div class="row">
                    <div class="col-md-4">Enter the figures you see in the box shown</div>
                    <div class="col-md-8">
                        @Html.Partial("_Recaptcha")
                    </div>
                </div>
                }
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        @Html.ActionLink("Cancel", "LogOn", "Account", null, new { @class = "btn btn-primary" })
                        <input type="submit" value="Recover" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>

    </p>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
