@model SecurityEssentials.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.Active = "Home";
}

<h1>@ViewBag.Title.</h1>

@using (Html.BeginForm("RegisterAsync", "Account", FormMethod.Post, new { @class = "container", role = "form", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <p>Create a new account.</p>
    <hr />
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.LabelFor(m => m.User.UserName, new { @class = "control-label" })</div>
        <div class="col-md-4">@Html.TextBoxFor(m => m.User.UserName, new { @class = "form-control", autocomplete = "off" })</div>
        <div class="col-md-4">@Html.ValidationMessageFor(model => model.User.UserName)</div>
    </div>
    <div class="row">
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.LabelFor(m => m.User.FirstName, new { @class = "control-label" })</div>
        <div class="col-md-4">@Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control", autocomplete = "off" })</div>
        <div class="col-md-4">@Html.ValidationMessageFor(model => model.User.FirstName)</div>
    </div>
    <div class="row">
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.LabelFor(m => m.User.LastName, new { @class = "control-label" })</div>
        <div class="col-md-4">@Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control", autocomplete = "off" })</div>
        <div class="col-md-4">@Html.ValidationMessageFor(model => model.User.LastName)</div>
    </div>
    <div class="row">
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.LabelFor(m => m.User.SecurityQuestionLookupItemId, new { @class = "control-label" })</div>
        <div class="col-md-4">@Html.DropDownListFor(model => model.User.SecurityQuestionLookupItemId, Model.SecurityQuestions, new { @class = "form-control", autocomplete = "off" })</div>
        <div class="col-md-4">@Html.ValidationMessageFor(model => model.User.SecurityQuestionLookupItemId)</div>
    </div>
    <div class="row">
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.LabelFor(m => m.User.SecurityAnswer, new { @class = "control-label" })</div>
        <div class="col-md-4">@Html.PasswordFor(m => m.User.SecurityAnswer, new { @class = "form-control", autocomplete = "off", maxlength = 40 })</div>
        <div class="col-md-4">@Html.ValidationMessageFor(model => model.User.SecurityAnswer)</div>
    </div>
    <div class="row">
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-4"><label class="control-label" for="Password">Password</label></div>
        <div class="col-md-4">@Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })</div>
        <div class="col-md-4">@Html.ValidationMessageFor(model => model.Password)</div>
    </div>
    <div class="row">
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-4"><label class="control-label" for="ConfirmPassword">Confirm Password</label></div>
        <div class="col-md-4">@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off" })</div>
        <div class="col-md-4">@Html.ValidationMessageFor(model => model.ConfirmPassword)</div>
    </div>
    <div class="row">
        <div class="col-md-4">&nbsp;</div>
    </div>
    <hr />
    if (Model.HasRecaptcha)
    {
        <div class="row">
            <div class="col-md-4">Enter the figures you see in the box shown</div>
            <div class="col-md-8">
                @Html.Partial("_Recaptcha");
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="offset-md-10 col-md-2">
            <input id="submit" type="submit" class="btn btn-default btn btn-primary btn-block" value="Register" />
        </div>
    </div>
}
@section Scripts {
}
