@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This project was created by John Staveley 28/01/2015 and contains the following features:
        <ul>
            <li>Built on the latest technology - MVC 5, EF 6, Bootstrap 3</li>
            <li>Claims based Authorisation</li>
            <li>Stores passwords with a cryptographically secure Salt and Hash using the PBKDF2 algorithm</li>
            <li>Enforces a strong password policy</li>
            <li>Compares password with a database of known bad passwords</li>
            <li>Controllers and AJAX are protected against the CSRF attack by using </li>
            <li></li>
        </ul>
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>