
@{
    ViewBag.Title = "TestAntiXSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .testClass { color: @Microsoft.Security.Application.Encoder.CssEncode(ViewBag.CssTest) }
</style>

<h2>Test Anti XSS</h2>
<p>This is a test to ensure that the AntiXSS library can encode pieces of html, css and javascript.</p><br />

<p>Encoded html:</p>
<span class="testClass">@ViewBag.HtmlTest</span>
<p>Unencoded html:</p>
<span class="testClass">@Html.Raw(ViewBag.HtmlTest)</span>

<script type="text/javascript">
    alert('@Microsoft.Security.Application.Encoder.JavaScriptEncode(ViewBag.JavaScriptTest, emitQuotes: false)')
    //alert('@ViewBag.JavaScriptTest)');
    //alert('@Html.Raw(ViewBag.JavaScriptTest)');
</script>

