@model HandleErrorInfo
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Error";
}

<div class="list-header clearfix">
    <span>Error</span>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        An unexpected error has occurred. Please contact the system administrator.
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br/>
                <b>Controller:</b> @Model.ControllerName<br/>
                <b>Action:</b> @Model.ActionName
                @if (Model.Exception.InnerException != null)
                {
                    <b>Action:</b>
                    @Model.Exception.InnerException.Message
                }
            </p>
            <div style="overflow: scroll">
                <pre>
@Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>