@model SecurityEssentials.ViewModel.UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Users - Request Change Email";
    ViewBag.Active = "Admin";
}

<div class="reports-wrapper">
    <div class="scrollable">
        <div class="max-width">
            <h4>Edit User</h4>
            <div>
                <div>
                    <div>
                        @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
                        {
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.User.Id)
                            <p>
                                TODO: This page should request an email change for the user, the user should then be emailed (at the old account) to verify the request.
                                At this point the pending email change request is made live and changed for the user. Any current sessions under the old id should be logged off. A log entry should be made of this request.
                                This page should show any pending email change requests. The Administrator can always change email addresses from the user list page.
                            </p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.User.UserName)
                                @Html.TextBoxFor(model => model.User.UserName, new { @class = "form-control", autocomplete="off" })
                                @Html.ValidationMessageFor(model => model.User.UserName)
                            </div>

                            <div>
                                <input type="submit" value="Request Change" class="btn btn-primary" />
                                or  @Html.ActionLink("Cancel", "Index", "User")
                            </div>
                            @Html.AntiForgeryToken()
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
