@model SecurityEssentials.ViewModel.UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Users - Request Change Email";
    ViewBag.Active = "Admin";
}

<div class="reports-wrapper">
    <div class="scrollable">
        <div class="max-width">
            <h4>Edit User</h4>
            <div>
                <div>
                    <div>
                        @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
                        {
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.User.Id)
                            <p>
                                TODO: This page should allow the user to change their security information, to do this they have to input their previous security information.
                                Such a change will be added to their user log. An Administrator does not need to answer the previous security information to amend
                            </p>
                            <div>
                                <input type="submit" value="Change Security" class="btn btn-primary" />
                                or  @Html.ActionLink("Cancel", "Index", "User")
                            </div>
                            @Html.AntiForgeryToken()
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
