@model SecurityEssentials.ViewModel.UsersViewModel

@{
    ViewBag.Title = "Users - Index";
    ViewBag.Active = "Admin";
}
<div>
    <div class="scrollable">
        <div>
            <div class="input-group">
                
                <label for="quickFindCriteria" class="input-group-addon">Quick Find:</label>
                <input type="text" class="form-control" id="quickFindCriteria" placeholder="First name, last name or email" />
                <div class="input-group-btn">
                    <a id="clearquickfind" style="display: none" class="button">Clear</a>
                    <a id="disableclear" class="button">Clear</a>
                </div>
            </div>
            <div id="DisableUserDialog"></div>
            <div id="kendoUserGrid"></div>

            <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
        </div>
    </div>
</div>
@section scripts
{
    @Styles.Render("~/Content/kendo/2014.1.318/kendoui")
    @Scripts.Render("~/bundles/kendoui")
    @Scripts.Render("~/bundles/quickfind")
    @Scripts.Render("~/bundles/users")

}
