@model IEnumerable<SecurityEssentials.Model.UserLog>

@{
    ViewBag.Title = "Log";
    ViewBag.Active = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Activity Log</h2>

<p>Viewing ten most recent ten log entries for @ViewBag.UserName</p>
<p>If you suspect your account has been compromised, please change your password immediately</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.DateCreated)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
        <td>@Html.DisplayFor(modelItem => item.Description)</td>
    </tr>
}

</table>
