@model SecurityEssentials.Model.User
@{
    ViewBag.Title = "Reset Password";
    ViewBag.Active = "Admin";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink(string.Format("Edit User {0}", Model.UserName), "Edit", "User", new { id = Model.Id }, null)</li>
        <li class="breadcrumb-item active">Reset Password</li>
    </ol>
</nav>

<h1>Reset a User's password</h1>
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning">@ViewBag.Message</div>
}

@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-4"><span class="labelBold">User Name</span></div>
        <div class="col-md-4"><span id="UserName">@Html.DisplayFor(model => model.UserName)</span></div>
    </div>
    <div class="row">
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12 alert alert-warning"><p>This function will send out a new password via email for the user above. Please note this method should only be used as a last resort as it is less secure than the user using the forgotten password link on the logon page. Please encourage the user to use this method to reset their password first before forcing a reset. After you click this link the user will no longer be able to login using their previous password</p><p>This method is subject to social engineering attacks. How sure are you that the person you spoke to was the owns the account?</p></div>
    </div>
    <div class="row">
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-10"><input id="submit" type="submit" value="Confirm" class="btn btn-block btn-primary" /></div>
    </div>
    @Html.AntiForgeryToken()
}

@section scripts {
}
